<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ material.name }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">{{ material.name }}</h1>
        <p>Stock: {{ material.stock }}</p>
        <p>Price: {{ material.price }}</p>
        <p>Available: {{ material.available }}</p>
        <a href="{% url 'material_update' material.pk %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'material_delete' material.pk %}" class="btn btn-danger">Delete</a>
    </div>
</body>
</html>